.contacto {
    padding: 100px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.contacto h1 {
    font-size: 55px;
    color: #0c1f6a;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}