@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.logo-login img {
    display: block;
    margin: auto;
    width: 300px;
    height: 200px;
}

.logo-login img{
    position: relative;
    width: 170px;
    height: 210px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #8D98A6;
}

.login{
    width: 420px;
    background: #F2F2F2;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 0 30px rgb(0, 0, 1) ;
}

.login h1{
    font-size: 36px;
    text-align: center;
    color: #234059;
}

.login .box-text{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.box-text {
    display: flex;
    justify-content: center;
}

.box-text input{
    align-items: center;
    width: 90%;
    height: 90%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.box-text input::placeholder{
    color: black;
}

.box-text i{
    position: absolute;
    right: 55px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.login .forgot-password{
    display: flex;
    justify-content: center;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.forgot-password a{
    color: #234059;
    text-decoration: none;
}

.forgot-password a:hover{
    text-decoration: underline;
}

.login .btn{
    width: 100%;
    height: 45px;
    background: #234059;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.login .register-form{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-form p a{
    color: #234059;
    text-decoration: none;
    font-weight: 480;
}

.register-form p a:hover{
    text-decoration: underline;
}

.description {
    text-align: center;
    margin: 20px 0;
    color: #333; 
    font-size: 13px; 
}