/* Reseteo básico de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles for the body */
body {
    margin: 0;
    position: relative;
    overflow-y: auto;
    /* Permite el desplazamiento vertical */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
}

/* Estilos para el fondo de video */
.video-background {
    position: fixed;
    /* Fija el video en la pantalla */
    top: 0;
    /* Comienza desde la parte superior */
    left: 0;
    /* Comienza desde la parte izquierda */
    width: 100%;
    /* Ancho completo de la pantalla */
    height: 100%;
    /* Alto completo de la pantalla */
    z-index: -1;
    /* Coloca el video detrás de todo el contenido */


}

.video-background video {
    width: 100%;
    /* Ancho completo del video */
    height: 100%;
    /* Alto completo del video */
    object-fit: cover;
    /* Mantiene la proporción del video y recorta si es necesario */

}




/* Estilos para el contenido principal */
main {
    position: relative;
    /* Asegura que el contenido principal esté por encima del video */
    z-index: 1;
    /* Asegura que el contenido principal esté por encima del video */
    color: white;
    /* Color del texto para visibilidad */
    background-color: rgba(0, 0, 0, 0.285);
    /* Fondo semi-transparente (negro con 50% de opacidad) */

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.submenu {
    display: none;
    /* Oculto por defecto */
    position: absolute;
    /* Para que se posicione bien debajo del elemento padre */
    background-color: rgba(0, 0, 0, 0.83);
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
}

.submenu li {
    list-style: none;
    /* Sin puntos de lista */
}

.submenu li a {
    display: block;
    /* Hace que el área del enlace sea más grande */
    padding: 10px;
    /* Espaciado dentro del enlace */
    color: black;
    /* Color del texto */
}

.submenu li a:hover {
    background-color: rgba(255, 255, 255, 0.23);
}


.navbar a img {
    width: 20px;
    height: auto;
    margin-left: 5px;
    /* Mueve la flecha hacia la derecha del texto */
}

.flecha img {
    margin-left: 5px;
    /* Ajusta el espacio entre el texto y el icono */
    vertical-align: middle;
    /* Alinea verticalmente la flecha con el texto */
}

/* Selector de idioma y botones */
.language-selector {
    color: rgb(255, 255, 255);
    /* Color del texto */
    display: flex;
    align-items: center;
    margin-right: 25px;
    /* Espaciado entre el selector de idioma y otros elementos */
    font-size: 16px;
    /* Tamaño de fuente */
    cursor: pointer;
    /* Cambiar el cursor al pasar sobre el elemento */
}

.language-selector img {
    width: 20px;
    /* Ajustar el tamaño de la bandera o icono */
    height: auto;
    /* Mantener la proporción de la imagen */
    margin-right: 5px;
    /* Espacio entre la imagen y el texto */
}

.language-selector:hover {
    text-decoration: underline;
    /* Subrayar el texto al pasar el mouse */
}

.demo-button,
.login {
    padding: 10px 20px;
    /* Espaciado dentro de los botones */
    border: none;
    border-radius: 50px;
    /* Forma ovalada */
    text-decoration: none;
    font-weight: bold;
    /* Negrita */
    display: inline-block;
    /* Para aplicar márgenes correctamente */
    margin: 10px 0;
    /* Margen superior e inferior */
}

.demo-button {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    /* Color de fondo para el botón de demo */
}

.login {
    color: rgb(255, 255, 255);
    background-color: #0c1f6a(0, 0, 0);
    /* Color de fondo diferente para el botón de login */
}

/* Estilo para asegurar que todo está centrado y alineado correctamente */
.header .logo {
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    /* Negrita */
    color: rgb(255, 255, 255);
}

/* Eliminar overflow: hidden del contenedor principal */
.event-management {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    /* Mantiene el padding pero elimina center */
    text-align: center;
    /* Centra el texto en el contenedor */
    min-height: 100vh;
    /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
}



.event-management h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* Establece la fuente */
    font-size: 100px;
    /* Tamaño de fuente más grande para el título principal */
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
    /* Centra el título */
    font-weight: bold;
    /* Negrita */
    color: #ffffff;
    /* Color de las palabras resaltadas */

}

.event-conteiner .highlight {
    color: #0c1f6a;
    /* Color de las palabras resaltadas */

}


.event-management {
    padding: 40px;
    text-align: center;
}

.event-content {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #0c1f6a;
    /* Color del título */
    font-size: 2.5em;
    margin-bottom: 20px;
}

.rotating-words {
    position: relative;
    overflow: hidden;
    /* Oculta el contenido que se sale del contenedor */
    height: 120px;
    /* Ajusta según el tamaño de la fuente */
}

.rotating-words h3 {
    position: absolute;
    width: 100%;
    margin: 10px 0;
    /* Espaciado entre los encabezados */
    font-size: 100px;
    /* Tamaño de fuente más grande */
    color: #0c1f6a;
    /* Color de las palabras resaltadas */
    opacity: 0;
    /* Comienza invisible */
    transform: translateX(-100%);
    /* Comienza fuera de la pantalla a la izquierda */
    transition: opacity 1s ease, transform 1s ease;
    /* Aumenta la duración de la transición a 1 segundo */
    display: none;
    /* Inicialmente oculto para evitar el espacio en el flujo del documento */
}

.rotating-words h3.visible {
    opacity: 1;
    /* Hacemos visible el elemento */
    transform: translateX(0);
    /* Muestra en la posición original */
    display: block;
    /* Asegúrate de que se muestre en bloque cuando esté visible */
}

.event-description {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

.btn-start {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #0c1f6a;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn-start:hover {
    background-color: #004080;
    /* Color de fondo al pasar el mouse */
}


/* Animación de aparición secuencial */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.event-description {
    font-size: 24px;
    /* Tamaño de fuente más grande */
    text-align: center;
    /* Centra el texto */
    margin: 20px 0;
    /* Espaciado superior e inferior */
    max-width: 800px;
    /* Opcional: establece un ancho máximo para el párrafo */
    color: white;

}

.btn-start {
    display: inline-block;
    padding: 15px 30px;
    background-color: #0c1f6a;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    /* Tamaño más grande para el botón */
    font-weight: bold;
    margin-top: 40px;
    /* Aumenta el margen superior para separar del texto */
}

.logo {
    display: flex;
    /* Utiliza flexbox para alinear el contenido */
    align-items: center;
    /* Centra verticalmente los elementos */
    text-decoration: none;
    /* Elimina el subrayado del enlace */
    color: white;
    /* Color del texto */
    font-size: 24px;
    /* Tamaño del texto */
}

.logo-icon {
    width: 40px;
    /* Ajusta el tamaño del logotipo */
    height: auto;
    /* Mantiene la proporción de la imagen */
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
}

.testimonials {
    background-color: #000000;
    /* Color de fondo para la sección */
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.testimonial {
    font-style: italic;
    margin: 10px 0;
}

/*----------------------------------------------------------------------------------------------------------------------*/
.servicios {
    background-image: url('../images/Foro de Energías Renovables.jpg');
    padding: 100px 0;
    text-align: center;
    background-size: cover;
    /* La imagen de fondo cubrirá todo el área */
    background-position: center;
    /* Centra la imagen */
    background-attachment: fixed;
    /* La imagen se queda fija al hacer scroll */
    text-align: center;
    /* Centra el texto dentro de la sección */
    color: white;
    /* Asegura que el texto sea blanco */
    background-color: rgba(0, 0, 0, 0.337);
    /* Fondo semi-transparente (negro con 50% de opacidad) */

}

.servicios h2 {
    font-size: 55px;
    /* Tamaño del encabezado */
    color: #ffffff;
    /* Color del encabezado */
    margin-bottom: 40px;
    /* Espacio debajo del encabezado */
    text-transform: uppercase;
    /* Texto en mayúsculas */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.servicios ul {
    list-style-type: none;
    /* Elimina las viñetas de la lista */
    padding: 0;
    /* Elimina el padding por defecto */
    margin: 0;
    /* Elimina el margen por defecto */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.servicios ul li {
    font-size: 20px;
    /* Tamaño de fuente para los elementos de la lista */
    color: #ffffff;
    /* Color del texto de la lista */
    margin: 15px 0;
    /* Espaciado entre elementos de la lista */
}

.servicios p {
    font-size: 16px;
    /* Tamaño de fuente para el párrafo */
    color: #ffffff;
    /* Color del párrafo */
    margin-top: 30px;
    /* Espacio arriba del párrafo */
    max-width: 800px;
    /* Ancho máximo del párrafo */
    margin-left: auto;
    /* Centra el párrafo horizontalmente */
    margin-right: auto;
    /* Centra el párrafo horizontalmente */
    line-height: 1.6;
    /* Espaciado entre líneas para mejorar la legibilidad */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* Media Queries para diseño receptivo */
@media (max-width: 768px) {
    .servicios h2 {
        font-size: 40px;
        /* Tamaño del encabezado en pantallas pequeñas */
    }

    .servicios ul li {
        font-size: 18px;
        /* Tamaño de fuente de los elementos de la lista en pantallas pequeñas */
    }

    .servicios p {
        font-size: 14px;
        /* Tamaño de fuente del párrafo en pantallas pequeñas */
    }
}

/*---------------------------------------------------------------------------------------------------------------*/
.eventos {
    padding: 100px 0;
    background-color: #ffffff;
    text-align: center;
}

.eventos h2 {
    font-size: 55px;
    color: #0c1f6a;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.tarjeta-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tarjeta {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s;

}

.tarjeta:hover {
    transform: scale(1.05);
}

.tarjeta img {
    width: 100%;
    height: auto;
}

.tarjeta-contenido {
    padding: 20px;
    text-align: left;
}

.tarjeta-contenido h3 {
    font-size: 20px;
    color: #0c1f6a;
    margin: 10px 0;
}

.tarjeta-contenido p {
    font-size: 16px;
    color: #000000;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .eventos h2 {
        font-size: 40px;
    }

    .tarjeta {
        width: 90%;
    }

    .tarjeta-contenido h3 {
        font-size: 18px;
    }

    .tarjeta-contenido p {
        font-size: 14px;
    }
}